// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .task {
    width: auto;
    padding: 10px 20px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .task {
    padding: 10px 5px;
    margin-bottom: 10px;
    width: auto;
  }
  .task-title, .task-footer {
    align-items: center;
  }
  .task-left, .task-footer-left {
    flex-flow: column;
    li {
      font-size: 12px;
    }
  }
  .task-status-circle {
    font-size: 12px;
  }
  .task-footer-left li {
    margin-left: 0;
  }
  .task-footer-right button {
    min-width: 120px;
  }
  .task-body {
    margin-bottom: 0;
    p {
      font-size: 12px;
    }
  }
  .task-proffession:first-letter,
  .task-body p:first-letter {
    font-size: 16px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .task {
    padding: 10px 5px;
    margin-bottom: 10px;
    width: auto;
  }
  .task-title, .task-footer {
    align-items: center;
  }
  .task-left, .task-footer-left {
    flex-flow: column;
    li {
      font-size: 12px;
    }
  }
  .task-status-circle {
    font-size: 12px;
  }
  .task-footer-left li {
    margin-left: 0;
  }
  .task-footer-right button {
    min-width: 120px;
  }
  .task-body {
    margin-bottom: 0;
    p {
      font-size: 12px;
    }
  }
  .task-footer-left .lucida-grande {
    display: block;
  }
}