@import '~assets/colors';
@import '~assets/aliases';

.mwnone {
  max-width: none !important;
  width: auto !important;
}

.task-title,
.task-footer,
.icons,
.task-left,
.task.right,
.task-footer-left,
.task-footer-right,
.task-status-circle {
  .df-rnw;
}

.task-title,
.task-footer,
.icons {
  .df-ais;
}

.task-title,
.task-footer {
  .df-jcsb;
}

.task-left,
.task.right,
.task-footer-left,
.task-footer-right {
  .df-aib;
}

.task-status-circle {
  .df-aic;
}

.task-title,
.task-footer,
.task-body,
.icons {
  text-align: left;
}

.task-left,
.task-footer-left {
  li {
    margin-right: 10px;
  }
}

.task.right,
.task-footer-right {
  li {
    margin-left: 10px;
  }
}

.task-proffession:first-letter,
.task-body p:first-letter {
  font-size: 24px;
}

.task {
  width: 100%;
  max-width: 1320px;
  padding: 20px 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 5px @silver;
}

.helvetica-neue, .lucida-grande {
  font-weight: bold;
  display: inline-block;
  text-transform: capitalize;
}

.helvetica-neue {
  font-family: 'Helvetica Neue';
}

.lucida-grande {
  font-family: 'Lucida Grande';
}

.task-proffession {
  font-size: 20px;
}

.task-data {
  color: @silver-shadow;
}

.task-body {
  margin: 24px 0;
  p {
    color: @silver-black-white;
  }
}

.task-footer {
  margin-top: 20px;
}

.task-footer-right button {
  min-width: 200px;
  padding: 10px;
  text-align: center;
  color: @blue;
  border: 1px solid @blue;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.icons img {
  max-width: 56px;
  max-height: 56px;
  margin-right: 14px;
  cursor: pointer;
}

.task-circle {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.task-expectation {
  background: @yellow;
  box-shadow: 0 0 5px 0 @yellow;
}

.task-active {
  background: @green;
  box-shadow: 0 0 5px 0 @green;
}

.task-complited {
  background: @red;
  box-shadow: 0 0 5px 0 @red;
}

@import './media';