// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .pay-title h4 {
    font-size: 20px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .pay-title h4 {
    font-size: 20px;
  }
}