@import '~assets/colors.less';
@import '~assets/aliases.less';

.pay {
  background: @silver-shadow-transition;
  iframe {
    width: 100%;
  }
}

.pay-container {
  .df-c;
  .df-aic;
  .df-jcfs;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 0;
}

.pay-title {
  margin-bottom: 20px;
}

@import './media.less';