@import '~assets/colors';

.form textarea {
  min-height: 60px;
  max-height: 60px;
  padding-right: 45px;
  &::-webkit-input-placeholder,
  &::-moz-placeholder {
    color: @shadow-silver-white;
  }
}

.upload-files {
  position: absolute;
  top: 30px;
  right: 12px;
  cursor: pointer;
  input[type=file] {
    display: none;
  }
  svg {
    max-width: 20px;
    max-height: 22px;
  }
}

.active {
  box-shadow: 0 0 10px 0 @blue-silver !important;
}

.invalid {
  border: 1px solid @red !important;
}