// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .app-location-search {
    padding: 10px 20px;
  }
  .row label {
    margin-right: 7px;
  }
  .form input, .form textarea, .form .file p, .form select, .button-model {
    font-size: 14px;
  }
  .button-model {
    white-space: nowrap;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .app-location-search {
    flex-flow: column;
    padding: 10px;
  }
  .location-search-title {
    margin: 15px 0;

    h2 {
      font-size: 20px;
    }
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .app-location-search {
    flex-flow: column;
    padding: 10px 5px;
  }
  .location-search-title {
    margin: 15px 0;
    
    h2 {
      font-size: 20px;
    }
  }
}