@import '~assets/colors.less';
@import '~assets/aliases.less';

.app-location-search {
  .df-rnw;
  .df-ais;
  .df-jcc;
  position: relative;
  background: @sectionsLocationSearch;
  padding: 60px 0;
  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: @sectionsLocationSearch;
    z-index: -1;
  }
  &:before {
    left: calc(-5500%);
    right: 0;
  }
  &:after {
    right: calc(-5500%);
    left: 0;
  }
}

.location-search-description p {
  font-size: 20px;
}

.location-search-work-user {
  padding-top: 20px;
  flex-grow: 1;
}

.location-search-title {
  margin: 20px 0 60px;
}

.location-search {
  .df-rnw;
  .df-ais;
  label {
    .df-rnw;
    .df-aic;
    padding: 0 20px;
    min-width: 370px;
    background: @white;
    margin-right: 20px;
  }
  label,
  button {
    border-radius: 6px;
  }
  label svg {
    margin-right: 8px;
  }
  input,
  button {
    font-size: 16px;
    outline: none;
  }
  input {
    padding: 20px 0;
    border: none;
    flex-grow: 1;
  }
  button {
    background: @blue-white;
    color: @white;
    padding: 20px;
    text-align: center;
    min-width: 240px;
    cursor: pointer;
  }
}

@import './media.less';