@import '~assets/colors.less';
@import '~assets/aliases.less';

.label-checkbox {
  .df-rnw !important;
  input[type='checkbox'] {
    display: none !important;
  }
  input:checked ~ .label-checkbox-customize {
    background: url('~assets/img/checked.png') no-repeat center;
    background-size: 14px;
    border: 1px solid @black;
  }
}

.label-checkbox-customize {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid @white-silver-shadow;
  margin-right: 14px;
  border-radius: 2px;
  cursor: pointer;
}