@import '~assets/colors.less';

.min-w-240 {
  min-width: 240px;
}

.button-model {
  display: inline-block;
  max-width: 240px;
  width: 100%;
  outline: none;
  cursor: pointer;
  color: @white;
  background: @blue-white;
  border-radius: 4px;
  padding: 20px 10px;
  border: none;
  font-size: 16px;
  transition: 0.6s;
}

.no-valid {
  background: @blue-silver !important;
}

.white {
  background: @white;
}