// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .form {
    select {
      height: auto;
    }
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .upload-files {
    top: 6px !important;
    right: 5px !important;
  }
  .form {
    padding: 0 10px;
    label, input, textarea,
    .file p, select {
      font-size: 14px;
    }
    input, textarea, .file p, select {
      margin-top: 10px;
    }
    input, .file p, textarea,
    select, .button-model {
      padding: 10px 5px;
    }
    textarea {
      padding: 5px 20px 5px 5px;
      margin-top: 0;
      min-width: 0;
    }
    select {
      height: auto;
    }
    label {
      margin-bottom: 10px;
    }
  }
  .label-row {
    flex-flow: column;
    label:last-child {
      max-width: 100%;
      margin-left: 0;
      input {
        text-align: left;
        padding: 10px 5px;
      }
    }
  }
  .form-title {
    margin-bottom: 0;
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .mt20 {
    margin-top: 10px;
  }
  .replace-form {
    flex-flow: column;
    margin-top: 15px;
    p, a {
      margin-right: 0;
      font-size: 14px;
    }
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .upload-files {
    top: 6px !important;
    right: 5px !important;
  }
  .form {
    padding: 0 5px;
    label, input, textarea,
    .file p, select {
      font-size: 10px;
    }
    input, textarea, .file p, select {
      margin-top: 10px;
    }
    input, .file p, textarea,
    select, .button-model {
      padding: 10px 5px;
    }
    textarea {
      padding: 5px 20px 5px 5px;
      margin-top: 0;
      min-width: 0;
    }
    select {
      height: auto;
    }
    label {
      margin-bottom: 10px;
    }
  }
  .label-row {
    flex-flow: column;
    label:last-child {
      max-width: 100%;
      margin-left: 0;
      input {
        text-align: left;
        padding: 10px 5px;
      }
    }
  }
  .form-title {
    margin-bottom: 0;
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .mt20 {
    margin-top: 10px;
  }
  .replace-form {
    flex-flow: column;
    margin-top: 15px;
    p, a {
      margin-right: 0;
      font-size: 15px;
    }
  }
}