@import '~assets/colors';
@import '~assets/aliases';

*:focus,
*:active,
*:hover,
*:visited {
  outline: none !important;
}

.form,
.form label,
.agreement {
  .df-c;
}

.row {
  .df-rnw;
}

.replace-form,
.agreement,
.form,
.row {
  .df-aic;
}

.label-row {
  .df-ais;
}

.replace-form,
.label-row {
  .df-rnw;
}

.replace-form {
  .df-jcc;
}

.label-row {
  .df-jcsb;
}

.replace-form {
  font-size: 18px;
  p {
    margin-right: 20px;
    white-space: nowrap;
  }
  a {
    color: @blue;
    text-decoration: none;
  }
}

.form-title,
.get-code,
.file p {
  text-align: center;
}

.replace-form a,
.agreement p a,
.file p {
  cursor: pointer;
}

.file p,
.form textarea {
  min-width: 200px;
}

.label-row,
.form label,
.form-title,
.file,
.agreement {
  width: 100%;
}

.form-title {
  margin-bottom: 30px;
  h4 {
    margin-bottom: 16px;
  }
  p {
    display: block;
    font-size: 18px;
    max-width: 360px;
    margin: auto;
  }
}

.agreement {
  p {
    display: block;
    color: @silver-black-bold;
  }
  p a {
    color: @blue-shadow;
    text-decoration: none;
  }
}

.form-registration {
  min-width: 400px;
  max-width: 650px;
  margin: auto;
}

.label-row label:last-child {
  max-width: 132px;
  margin-left: 20px;
  input {
    text-align: center;
    padding: 20px 0;
  }
}

.file label {
  width: 0;
}

.form {
  label,
  input,
  textarea,
  .file p,
  select {
    font-size: 18px;
  }
  * {
    white-space: normal;
  }
  input[type='date'] {
    padding: 20px 0 20px 5px;
    letter-spacing: -3.2px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
    }
  }
  input,
  textarea {
    border: 1px solid @white-shadow;
  }
  input,
  textarea,
  .file p,
  select {
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-top: 16px;
  }
  label {
    position: relative;
    color: @silver-black-bold;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  select {
    height: 65px;
    padding: 19px;
    border: 1px solid @white-shadow;
    background: none !important;
    box-shadow: none !important;
  }
  textarea {
    display: block;
    width: auto;
    min-height: 100px;
    resize: none;
  }
}

.row label {
  margin: 15px 20px 0 0;
}

.mt20, .replace-form {
  margin-top: 20px;
}

.row input,
.row label {
  margin-top: 0;
}

.icon input {
  margin-top: 0;
  padding-left: 56px;
}

.icon i {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 19px;
  font-size: 28px;
  color: @silver-shadow-black;
}

.file {
  input[type='file'] {
    display: none !important;
  }
  p {
    width: max-content;
    border: 1px solid @blue;
    color: @blue;
  }
}

.inp-list::-webkit-calendar-picker-indicator {
  display: none !important;
}

.active {
  box-shadow: 0 0 10px 0 @blue-silver !important;
}

.invalid {
  border: 1px solid @red !important;
}

@import './media';