@import '~assets/colors.less';
@import '~assets/aliases.less';

.chat-messages-live-write {
  .df-rnw;
  .df-aic;
  .df-jcc;
  margin: 26px 0 20px;
  position: relative;
  width: 39px;
  min-width: 39px;
  height: 20px;
  min-height: 20px;
  border-radius: 2px;
  background: @black-shadow-transition;
  span {
    width: 4px;
    height: 4px;
    background: @silver-black-white-shadow;
    border-radius: 100%;
    &:not(:last-child) {
      margin-right: 6px;
    }
    &:nth-child(1), &:nth-child(3) {
      animation: move 1s .5s linear infinite;
    }
    &:nth-child(2) {
      animation: move 1s linear infinite;
    }
  }
}

@keyframes move {
  25% {
    margin-bottom: 8px;
  }
  50% {
    margin-bottom: -8px;
  }
  100% {
    margin-bottom: 0;
  }
}