// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .clean, .tabs {
    padding: 10px 20px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .clean, .tabs {
    padding: 10px 5px;
  }
  .tabs {
    font-size: 12px;
    li {
      margin-right: 8px;
    }
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .clean, .tabs {
    padding: 10px 5px;
  }
  .tabs {
    font-size: 12px;
    li {
      margin-right: 8px;
    }
  }
}