@import '~assets/colors';

.tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 42px 0 40px;
  font-size: 18px;
  li {
    margin-right: 30px;
  }
  li a {
    cursor: pointer;
    text-decoration: none;
    color: @silver-black-shadow;
  }
}

.active-tab {
  color: @blue-white !important;
}

@import './media.less';