// Netbook
@media (min-width: 980px) and (max-width: 1517px) {

}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .app-advantages {
    flex-flow: column;
    align-items: stretch;
    padding: 10px 5px;
    li {
      align-items: center;
      &:before {
        font-size: 80px;
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
      padding-top: 10px;
    }
  }
  .list-number {
    max-width: none;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .app-advantages {
    flex-flow: column;
    align-items: stretch;
    padding: 10px 5px;
    li {
      align-items: center;
      &:before {
        font-size: 80px;
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
      svg {
        padding-top: 10px;
      }
    }
  }
  .list-number {
    max-width: none;
  }
}