@import '~assets/colors.less';
@import '~assets/aliases.less';

.app-advantages {
  .df-rnw;
  .df-aic;
  .df-jcsb;
  padding: 60px 0;
  li {
    .df-rnw;
    position: relative;
    &:before {
      display: inline-block;
      color: @white-silver;
      font-size: 160px;
    }
    &:nth-child(1):before {
      content: '1';
    }
    &:nth-child(2):before {
      content: '2';
    }
    &:nth-child(3):before {
      content: '3';
    }
    &:nth-child(4):before {
      content: '4';
    }
    &:after {
      content: '';
      position: absolute;
      top: calc(50%);
      right: 0;
      left: calc(80%);
      display: inline-block;
      width: calc(100%);
      max-width: calc(50%);
      height: 2px;
      background: url('~assets/img/underline.png') repeat-x top left;
      background-size: auto;
    }
    &:last-child:after {
      display: none;
    }
  }
  li h6 {
    margin-bottom: 13px;
  }
  li p {
    font-size: 18px;
    color: @silver-black-white;
  }
  li svg {
    padding-top: 35px;
    margin-bottom: 11px;
  }
}

.list-number {
  max-width: 210px;
  width: 100%;
}

@import './media.less';