@import '~assets/colors.less';
@import '~assets/aliases.less';

.popup {
  position: absolute;
  top: calc(100%);
  left: 0;
  min-width: 100%;
  background: @white;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 @silver;
  border: 1px solid @silver-black-bold;
  padding: 26px 26px 17px;
  &:after, &:before {
    content: '';
    display: inline-block;
    position: absolute;
  }
  &:after {
    top: -10px;
    left: -0.4px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 14px solid @silver-black-bold;
    z-index: -1;
  }
  &:before {
    top: -8px;
    left: -0.4px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 12px solid @white;
    z-index: 1;
  }
}

.popup div.message {
  color: @silver-black-bold;
  font-size: 16px;
  white-space: nowrap;
}

.controllers {
  .df-rnw;
  .df-jcsa;
  button {
    font-size: 16px;
    border: none;
    color: @blue;
    outline: none;
    cursor: pointer;
    background: none;
    text-decoration: underline;
    white-space: nowrap;
  }
}
