// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .account-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .menu-close {
    display: flex !important;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .account-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .menu-close {
    display: flex !important;
  }
}