@import '~assets/aliases.less';
@import '~assets/colors.less';

.account-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: @white;
  box-shadow: 0 0 10px 0 @silver-shadow-white;
  border-radius: 4px;
  margin-top: 15px;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    right: 20px;
    top: -15px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid @white;
  }
  li, a {
    .df-rnw;
    .df-aic;
  }
  li {
    cursor: pointer;
  }
  li:hover {
    background: @white-shadow;
    transition: .6s;
  }
  li:not(:last-child) {
    border-bottom: 1px solid @white-silver-shadow;
  }
  li svg {
    max-height: 18px;
    max-width: 20px;
  }
  li p {
    margin-left: 16px;
    white-space: nowrap;
  }
  a {
    padding: 14px 30px;
    color: @silver-dark;
    text-decoration: none;
  }
}

.menu-close {
  display: none !important;
  .df-jcfe;
  
  svg {
    min-height: 20px;
    margin: 5px 10px 5px 0 !important;
  }
}

@import './media.less';