// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .chat-users {
    padding: 5px 0;
    min-width: 130px;
    width: 40%;
    max-width: 130px;
  }
  .chat-activity {
    font-size: 10px;
  }
  .chat-messages-title-date span {
    font-size: 13px;
    margin: 0 10px;
  }
  .chat-container-messages p {
    padding: 5px;
    font-size: 13px;
  }
  .chat-user-messages:not(:last-child) {
    margin-bottom: 15px;
  }
  .chat-clock {
    margin-top: 5px;
    font-size: 13px;
  }
  .chat-user-list {
    padding: 5px;
  }
  .chat-messages-title-date {
    margin-bottom: 5px;
  }
  .chat-messages {
    padding: 0 5px;
    width: 55%;
  }
  .chat-messages-live-write {
    margin: 5px 10px;
  }
  .chat-username {
    p {
      font-size: 13px;
    }
    span {
      width: 15px;
      min-width: 15px;
      height: 15px;
      min-height: 15px;
      font-size: 9px;
      line-height: 15px;
    }
  }
  .container-button button {
    font-size: 13px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .chat-users {
    padding: 5px 0;
    min-width: 130px;
    width: 40%;
    max-width: 130px;
  }
  .chat-activity {
    font-size: 9px;
  }
  .chat-messages-title-date span {
    font-size: 10px;
    margin: 0 10px;
  }
  .chat-container-messages p {
    padding: 5px;
    font-size: 10px;
  }
  .chat-user-messages:not(:last-child) {
    margin-bottom: 15px;
  }
  .chat-clock {
    margin-top: 5px;
    font-size: 10px;
  }
  .chat-user-list {
    padding: 5px;
  }
  .chat-messages-title-date {
    margin-bottom: 5px;
  }
  .chat-messages {
    padding: 0 5px;
    width: 55%;
  }
  .chat-messages-live-write {
    margin: 5px 10px;
  }
  .chat-username {
    p {
      font-size: 12px;
    }
    span {
      width: 15px;
      min-width: 15px;
      height: 15px;
      min-height: 15px;
      font-size: 9px;
      line-height: 15px;
    }
  }
  .container-button button {
    min-width: 150px;
    font-size: 12px;
  }
}