@import '~assets/colors';
@import '~assets/aliases';

.chat-users,
.chat-messages {
  flex-grow: 1;
}

.chat-user-container-messages,
.chat-messages {
  .df-c;
  .df-ais;
  .df-jcsb;
}

.app-chat {
  .df-rnw;
  .df-ais;
}

.container-button {
  .f;
  .df-aifs;
  button {
    border: 1px solid @blue;
    border-radius: 2px;
    color: @blue-white;
    min-width: 200px;
    max-width: 200px;
    width: 100%;
    font-size: 14px;
    padding: 12px 5px;
    &:hover {
      background: @blue-white;
      transition: .6s;
      color: @white;
    }
  }
}

.chat-messages {
  padding: 20px 26px;
}

.chat-user-container-messages,
.chat-massages-body {
  flex-grow: 1;
}

.chat-massages-body {
  max-height: 50vh;
}

.chat-user-container-messages {
  max-height: 100%;
  overflow-y: auto;
}

.chat-user-messages {
  font-size: 14px;
  &:not(:last-child),
  &:last-child .chat-container-messages {
    margin-bottom: 26px;
  }
  &:not(.my) p {
    background: @black-shadow-transition;
  }
}

.chat-messages-title-date {
  .df-rnw;
  .df-aic;
  width: 100%;
  margin-bottom: 26px;
  &:after, &:before {
    content: '';
    background: @silver-white-shadow;
    height: 1px;
    flex-grow: 1;
  }
  span {
    color: @silver-white-shadow;
    font-size: 14px;
    margin: 0 15px;
    text-transform: capitalize;
  }
}

.chat-clock {
  margin-top: 10px;
  font-size: 12px;
  color: @silver;
}

.my {
  .df-rwnr;
  p {
    background: @blue-white;
    color: @white;
  }
  
  & .chat-clock {
    text-align: right;
  }
}

.chat-container-messages {
  color: @silver-black-white-shadow;
  font-size: 14px;
  border-radius: 2px;
  max-width: 80%;
  p {
    max-width: 412px;
    width: auto;
    padding: 12px 20px;
  }
}

.chat-users {
  overflow: scroll;
  background: @black-shadow-transition;
  border: 1px solid @black-shadow;
  max-width: 326px;
  padding: 20px 0;
  width: 100%;
}

.chat-user-list {
  padding: 12px 30px 11px;
  border-bottom: 1px solid @shadow-silver;
  &:hover {
    cursor: pointer;
  }
}

.chat-username {
  .df-rnw;
  .df-jcsb;
  p {
    font-size: 16px;
    color: @silver-black-bold;
  }
  span {
    width: 22px;
    min-width: 22px;
    height: 22px;
    min-height: 22px;
    background: @red-black;
    border-radius: 100%;
    color: @white;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    margin-left: 5px;
  }
}

.chat-activity {
  color: @silver-dark;
  margin-top: 4px;
}

.chat-active {
  background: @blue-white;
  * {
    color: @white !important;
  }
}

@import './media';