// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .modal-panel {
    padding: 20px 0;
    min-width: 450px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .modal-panel {
    min-width: 100%;
    width: 100%;
    max-width: max-content;
    padding: 20px 0;
    flex-grow: 1;
  }
}