@import '~assets/colors.less';
@import '~assets/aliases.less';

.modal {
  .f;
  .df-aifs;
  .df-jcc;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 5vh;
  z-index: 100;
}

.mw575 {
  max-width: 575px;
}
.mw900 {
  max-width: 900px;
}
.mw1053 {
  max-width: 1053px;
}

.modal-panel {
  position: relative;
  background: @white;
  min-width: 570px;
  border-radius: 4px;
  padding: 40px 85px;
  width: 100%;
}

.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
}

.event-close {
  display: inline-block;
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}

.disable-padding {
  padding: 0;
}

@import './media.less';