@import '~assets/colors.less';
@import '~assets/aliases.less';

.list {
  .df-rw;
  .df-jcsb;
  width: 100%;
  padding-top: 21px;
  margin-top: 40px;
  border-top: 1px solid @shadow-silver;
  li {
    padding: 10px 5px;
    max-width: 30%;
    font-size: 18px;
    cursor: pointer;
    min-width: 30%;
    transition: 0.6s;
    word-wrap: break-word;
    color: @silver-black-bold;
    &:hover {
      color: @blue;
    }
  }
}