@import '~assets/colors';

.form textarea {
  min-height: 140px;
  max-height: 140px;
}

.active {
  box-shadow: 0 0 10px 0 @blue-silver !important;
}

.invalid {
  border: 1px solid @red !important;
}