// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .app-header {
    padding: 0 20px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .wrapper-popup {
    display: none;
  }
  .app-header {
    justify-content: space-between;
    font-size: 12px;
    padding: 0 10px;
  }
  .left-position div.location,
  .left-position div.logo,
  .my-works a {
    margin-right: 10px;
    white-space: nowrap;
  }
  .right-position div {
    margin-left: 0;
  }
  .create-task a {
    width: 120px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .wrapper-popup,
  .my-works {
    display: none;
  }
  .app-header {
    justify-content: space-between;
    font-size: 12px;
    padding: 0 5px;
  }
  .left-position div.location,
  .left-position div.logo,
  .my-works a {
    margin-right: 0;
  }
  .right-position div {
    margin-left: 0;
  }
  .create-task a {
    width: 120px;
  }
}