@import '~assets/colors.less';
@import '~assets/aliases.less';

.create-task a {
  .f;
}

.app-header,
.left-position,
.right-position,
.location,
.popup-menu,
.user {
  .df-rnw;
}

.app-header,
.left-position,
.right-position,
.location,
.user,
.create-task a,
.popup-menu {
  .df-aic;
}

.user,
.app-header {
  .df-jcsb;
}

.left-position,
.right-position,
.location {
  .df-jcc;
}

.create-task a {
  .df-jcc;
}

.left-position div.location,
.left-position div.logo,
.my-works a {
  padding: 11px 0;
  margin-right: 40px;
}

.my-works,
.create-task {
  a {
    text-decoration: none;
  }
}

.my-works,
.create-task,
.login {
  a {
    color: @blue;
    text-decoration: none;
    cursor: pointer;
  }
  p {
    color: @silver;
  }
}

.popup-menu svg {
  max-width: 12px;
  max-height: 10px;
}

.app-header {
  min-height: 50px;
}

.container-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.right-position div {
  margin-left: 40px;
}

.login {
  color: @blue;
  span {
    margin: 0 5px;
  }
}

.user {
  position: relative;
  cursor: pointer;
  & span svg {
    margin: 0 7px;
  }
}

.wrapper-popup {
  position: relative;
  z-index: 100;
}

.location {
  color: @silver;
  cursor: pointer;
  svg {
    margin-right: 8px;
    max-width: 16px;
    max-height: 20px;
  }
}

.create-task a {
  width: 200px;
  padding: 10px 0;
  border: 1px solid @blue;
  text-align: center;
  border-radius: 4px;
}

.rotate {
  transform: rotate(180deg);
}

@import './media.less';