// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .app-footer {
    padding: 10px 20px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .app-footer {
    font-size: 12px;
    padding: 10px 10px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .app-footer {
    font-size: 12px;
    padding: 10px 5px;
  }
}