@import '~assets/colors.less';
@import '~assets/aliases.less';

.app-footer {
  .df-rnw;
  .df-aic;
}

.app-footer {
  padding: 20px;
  border-top: 2px solid @white-silver;
  p {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@import './media.less';