// Netbook
@media (min-width: 980px) and (max-width: 1517px) {

}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {

}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .clean {
    font-size: 12px;
    padding: 10px 5px;
  }
}