// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .all-tasks {
    padding: 0 20px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .all-tasks {
    padding: 10px 5px;
  }
  .search-tasks {
    padding: 15px 0 0;
    form {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  .show-tasks {
    margin: 30px 0 20px;
  }
  .form input {
    padding: 15px 20px;
  }
  .row {
    flex-flow: column;

    label {
      margin: 0 0 10px;
    }
  }
  .icon {
    input {
      margin-top: 0;
      padding-left: 40px;
      font-size: 14px;
    }
    i {
      top: -4px;
      left: 13px;
      font-size: 18px;
    }
  }
  .button-model {
    max-width: 200px;
    padding: 15px 10px;
    font-size: 14px;
  }
  .location-search-work-user {
    max-width: 400px;
    margin: auto;
  }
  .app-location-search {
    flex-flow: row nowrap;
    svg {
      max-width: 100%;
      margin: auto;
    }
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .all-tasks {
    padding: 10px 5px;
  }
  .search-tasks {
    padding: 15px 0 0;
  }
  .show-tasks {
    margin: 30px 0 20px;
  }
  .row {
    flex-flow: column;
    
    label {
      margin: 0 0 10px;
    }
  }
  .icon {
    input {
      margin-top: 0;
      padding-left: 40px;
      font-size: 14px;
    }
    i {
      top: -4px;
      left: 13px;
      font-size: 18px;
    }
  }
  .button-model {
    max-width: 200px;
    padding: 10px 5px;
    font-size: 14px;
  }
  .app-location-search svg {
    max-width: 100%;
  }
}