@import '~assets/colors';

.all-tasks {
  padding-left: 110px;
}

.search-tasks {
  position: relative;
  background: @sectionsLocationSearch;
  padding: 35px 0;
}

.search-tasks form {
  &:after,
  &:before {
    content: '';
    position: absolute;
    background: @sectionsLocationSearch;
    top: 0;
    bottom: 0;
    left: -10000px;
    right: -10000px;
    z-index: -1;
  }
}

.show-tasks {
  margin: 60px 0 20px;
}

@import './media.less';