.f {
  display: flex;
}

.df-rw {
  display: flex;
  flex-flow: row wrap;
}

.df-rnw {
  display: flex;
  flex-flow: row nowrap;
}

.df-rwr {
  display: flex;
  flex-flow: row-reverse wrap;
}

.df-rwnr {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.df-c {
  display: flex;
  flex-flow: column;
}

.df-cr {
  display: flex;
  flex-flow: column-reverse;
}

.df-aifs {
  align-items: flex-start;
}

.df-aife {
  align-items: flex-end;
}

.df-aic {
  align-items: center;
}

.df-aib {
  align-items: baseline;
}

.df-ais {
  align-items: stretch;
}

.df-jcfs {
  justify-content: flex-start;
}

.df-jcfe {
  justify-content: flex-end;
}

.df-jcsb {
  justify-content: space-between;
}

.df-jcsa {
  justify-content: space-around;
}

.df-jcc {
  justify-content: center;
}