@white-silver: #e4e4e4;
@sectionsLocationSearch: #f3f3f3;
@silver-black: #4c4c4c;
@silver-shadow-white: #bebebe;
@silver-dark: #6d7175;
@silver: #9eabb2;
@white-shadow: #d9d9d9;
@white-silver-shadow: #d3d3d3;
@silver-shadow: #939393;
@silver-black-white: #404040;
@silver-black-white-shadow: #7d7d7d;
@silver-white-shadow: #c6c6c6;
@blue: #195dc3;
@blue-white: #3f89f8;
@black: #000;
@silver-black-bold: #4a4a4a;
@silver-black-shadow: #3a3a3a;
@shadow-silver: #cfcfcf;
@black-shadow: #979797;
@black-shadow-transition: #f2f4f5;
@silver-shadow-transition: #f6f5f3;
@silver-shadow-black: #a5a5a5;
@blue-shadow: #4a72a0;
@blue-silver: #a5c8f1;
@shadow-silver: #d8d8d8;
@shadow-silver-white: #cbcbcb;
@white: white;
@white-silver: #f7faff;
@blue-white: #4a90e2;
@white-silver: #dadada;
@white-silver-shadow: #ededed;
@red-black: #dB1818;

@yellow: #e99a4f;
@green: #52c549;
@red: #ee3434;