@import './aliases';
@import './colors';
@import './toastr';

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

body {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

.app, .header-container {
  .df-c;
  .df-aic;
  .df-jcfs;
  margin: auto;
  width: 100%;
}

.app {
  overflow-x: hidden;
  max-width: 1920px;
  box-shadow: 0 0 5px 0 @white-silver;
}

.header-container {
  transition: .3s;
  background: @white;
  z-index: 10;
}

.max-size-windows {
  width: 100%;
  max-width: 1518px;
}
