@import 'colors';

.toastr {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 100;
  div {
    cursor: pointer;
    color: @white;
    text-align: left;
    margin-bottom: 15px;
    padding: 13px 15px 13px 10px;
    border-radius: 4px;
    text-shadow: 0 0 1.9px black;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
  }
  div i {
    margin-right: 10px;
  }
}

.success {
  background: @green;
}
.warning {
  background: @yellow;
}
.error {
  background: @red;
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .toastr {
    right: 10px;
    font-size: 12px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .toastr {
    right: 10px;
    font-size: 12px;
  }
}