// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .not-found {
    font-size: 35px;
    span {
      font-size: 80px;
    }
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .not-found {
    font-size: 35px;
    span {
      font-size: 80px;
    }
  }
}