// Netbook
@media (min-width: 980px) and (max-width: 1517px) {
  .app-last-assignments {
    padding: 0 20px;
  }
  .all-announcements {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// Planshet
@media (min-width: 480px) and (max-width: 979px) {
  .app-last-assignments {
    padding: 10px 5px;
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .all-announcements {
    margin-top: 10px;
    font-size: 13px;
    padding: 10px 15px;
  }
}

// Phone
@media (min-width: 320px) and (max-width: 479px) {
  .app-last-assignments {
    padding: 10px 5px;
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .all-announcements {
    margin-top: 10px;
    font-size: 13px;
    padding: 10px 15px;
  }
}