@import '~assets/colors';

.app-last-assignments {
  padding: 30px 0 46px;
  text-align: center;
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }
}

.all-announcements {
  display: inline-block;
  margin-top: 60px;
  background: @blue-white;
  color: @white;
  padding: 20px 10px;
  border-radius: 4px;
  min-width: 240px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

@import './media';